.mainContainer {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding-left: 1.5%;
  padding-right: 1.5%;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #f8f9fd;
  font-size: 18px;
  gap: 3em;
}
.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  /* align-items: center; */
}
.title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.titleText {
  font-weight: 600;
  font-size: 1.5rem;
}
.subText {
  font-weight: 500;
  font-size: 1rem;
}
.account {
  display: flex;
  flex-direction: row;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
}
.img {
  border-radius: 50%;
}
.imgContainer {
  overflow: hidden;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.userDetails {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.name {
  font-weight: 500;
  font-size: 1.2rem;
}
.positon {
  font-weight: 500;
  font-size: 1rem;
}
.iconContainer {
  cursor: pointer;
}
.secondSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.firstLevel {
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 2em;
  /* justify-content: center; */
  padding: 3%;
  align-items: center;
  border-radius: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.searchPart {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.searchContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  justify-content: center;
  height: 10%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: lightgray;
}
.input {
  outline: none;
  color: black;
}
