.cc-month,
.cc-head,
.cch-name,
.cc-body,
.cdc-day span,
.cdc-day,
.c-day-container,
.c-container{
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-container{
    width: 100%;
    height: 100%;
}

.cc-month{
    height: 30px;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: #666;
}
.cc-head{
    height: 30px;
    width: 100%;
    margin-top: 10px;
}
.cch-name{
    width: 14.285%;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.cc-body{
    height: 270px;
    width: 100%;
}
.c-day-container{
    width: 14.285%;
    height: 16.6666%;
}
.cdc-day{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #444;
    text-align: center;
}
.cdc-day span{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #444;
}

.cdc-day span:hover{
    cursor: pointer;
    background: #eee;
}
.cdc-day span{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    left: 50%;
    top: 50%;
    font-weight: 400;
    border-radius: 100%;
    line-height: 30px;
}
.c-day-container.disabled{
    pointer-events: none;
}

.c-day-container.disabled .cdc-day span{
    color: #ddd;
}
.c-day-container.disabled .cdc-day span{
    background: #fff!important;
}
.c-day-container.highlight .cdc-day span{
    background: #f1be92;
}
.c-day-container.highlight-green .cdc-day span{
    background: #00c5b191;
}