.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5em;

}
.firstSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:4em;
    padding-bottom: 0em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    justify-content: space-between;
    gap: 15em;
    align-items: center;

}
.infoInNumbers{
    display: flex;
    flex-direction: row;
    gap:4em;
    width: 100%;
}
.dataInNumbers{
    display: flex;
    flex-direction: row;
    gap:1em;
}


.iconContainer1{
    padding: 15px;
    border-radius: 10px;
    background-color: #f65e14;
}
.iconContainer2{
    padding: 15px;
    border-radius: 10px;
    background-color: #66d3d1;
}
.iconContainer3{
    padding: 15px;
    border-radius: 10px;
    background-color: #ffd201;
}
.number{
    font-size: 30px;
    font-weight: bold;
}
.text{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
}
.texts{
    display: flex;
    flex-direction: column;
    gap:0.1em;
    justify-content: center;

}
.mainInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:5em;
    align-items: center;
    justify-content: center;}
.firstImage{
    width: 400px;
    height: 400px;
}
.firstImageContainer{
    width: 30%;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}
.name{
    font-size: 40px;
    font-weight: bold;
    color: #2d605f;
}
.position{
    font-size: 30px;
    color: #2d605f;


}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
.blogSlider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all .3s;
}

@media screen and (max-width: 992px) {
    .blogSlider {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .blogSlider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blogSlider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 3em ;
}
.cardProject{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.leftSide{
    display: flex;
    width: 150px;
    height: 100px;
}
.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}
.companyName{
    font-size: 20px;
    font-weight: bold;
}
.projectDesc{
    font-size: 16px;
}
.secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}
.secondSection:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    margin-bottom: 3em;
}
.thirdSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}
.containerCards {
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.29);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
.cardTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

.svg {
    fill: #17141d;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}
.containerProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.containerProjects {
    width: 1200px !important;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        max-width: 1279px !important;
        padding: 0 !important;
        margin: 0 80px !important;
        width: auto !important;
    }

    @media screen and (max-width: 991px) {
        max-width: 959px !important;
        margin: 0 16px !important;
        padding: 0 !important;
        width: auto !important;
    }
}

.gradient-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}

.containerTitle {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

.card2 {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
}

.container-card {
    position: relative;
    border: 2px solid transparent;

    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;

}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
    position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #ffffff, #3da077, #ffffff);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}
.courseDescription{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.card-description {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel {
    Height: 189px;
}

.MultiCarousel .MultiCarouselInner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarouselInner .item {
    float: left;
}

.MultiCarousel .MultiCarouselInner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}
